:root {
  --color-background: #181818;
  --color-text: rgba(255, 255, 255, 0.7);
  --color-white-transparent: rgba(255, 255, 255, 0.7);
  --color-primary: #536dfe;
  --color-secondary: #fe5353;
  --color-contrast-primary: #fff;
  --color-contrast-secondary: #000;
  --color-shadow: rgba(0, 0, 0, .7);
}
:root ::selection {
  background: white;
  color: gray;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--color-background);
  color: var(--color-text);
  font-family: Montserrat, arial;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  row-gap: 5rem;
  transition: all 0.3s ease;
}
body[class=light] {
  --color-background: #d8d8d8;
  --color-text: rgba(0, 0, 0, 0.7);
  --color-shadow: rgba(0, 0, 0, .3);
  --color-secondary: #ff0000;
}

.container {
  max-width: 90%;
  width: 62.5rem;
  margin: auto;
}

h1 {
  color: var(--color-red);
  margin: 0;
}

header .container {
  display: flex;
  justify-content: space-between;
  font-size: 1.1875rem;
  padding: 1.25rem 0;
}
header .container .country {
  font-weight: 400;
  text-align: center;
}
header .container .country .flag {
  background: var(--color-white-transparent);
  position: relative;
  display: block;
  width: 100%;
  height: 0.25rem;
  margin-top: 0.1875rem;
}
header .container .country .flag::before {
  background: #06338d;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: calc( 100% / 3 );
  height: 0.25rem;
}
header .container .country .flag::after {
  background: #c81025;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: calc( 100% / 3 );
  height: 0.25rem;
}
header .container .navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 0.9375rem;
  row-gap: 0.625rem;
}
header .container .navigation a {
  color: var(--color-text);
  font-size: 1.0625rem;
  position: relative;
  text-decoration: none;
}
header .container .navigation a::after {
  background: var(--color-primary);
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 0.1688rem;
  margin-top: 0.125rem;
  transition: transform 0.3s ease;
  transform: scaleX(0);
  transform-origin: right;
}
header .container .navigation a:hover::after {
  background: var(--color-text);
  transform: scaleX(1);
  transform-origin: left;
}
header .container .darkmode {
  background: var(--color-primary);
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 2.5rem;
  outline: none;
  border: none;
  box-shadow: 0rem 0rem 0.3125rem var(--color-shadow);
  transition: all 0.3s ease;
}
body.light header .container .darkmode {
  background: orange;
  box-shadow: 0rem 0rem 0.125rem var(--color-shadow);
}
header .container .darkmode span {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-contrast-secondary);
  width: 1.8125rem;
  height: 1.5625rem;
  font-size: 0.875rem;
}
header .container .darkmode::after {
  background: #d6d3d3;
  content: "";
  display: block;
  position: absolute;
  right: 0;
  left: unset;
  height: 1.5625rem;
  width: 1.5625rem;
  border-radius: 2.5rem;
  box-shadow: 0rem 0rem 0.3125rem var(--color-shadow);
}
body.light header .container .darkmode::after {
  right: unset;
  left: 0;
}

.first-look .container {
  display: flex;
  justify-content: space-between;
}
.first-look .container span {
  color: var(--color-primary);
  font-weight: bold;
}
.first-look .container .text-container {
  display: flex;
  flex-direction: column;
  row-gap: 0.3125rem;
  width: 65%;
}
.first-look .container .text-container .greeting {
  font-weight: bold;
  font-size: 5rem;
}
.first-look .container .text-container .name {
  font-weight: bold;
  font-size: 2.5rem;
}
.first-look .container .text-container .profession {
  font-size: 2rem;
  font-weight: 100;
  margin-bottom: 0.3125em;
}
.first-look .container .text-container .description {
  font-size: 1.25rem;
  font-weight: 300;
  line-height: 1.4;
}
.first-look .container .text-container .description span {
  font-weight: 200;
  color: var(--color-secondary);
}
.first-look .container .files {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 0.9375rem;
}
.first-look .container .files .btn {
  background: var(--color-contrast-primary);
  color: var(--color-contrast-secondary);
  font-size: 1rem;
  padding: 1.25rem 1.5625rem;
  border-radius: 2.8125rem;
  filter: drop-shadow(0rem 0rem rgba(0, 0, 0, 0.1));
  filter: brightness(0.9);
  cursor: pointer;
  text-decoration: none;
}
body.light .first-look .container .files .btn {
  box-shadow: 0 0 0.0625rem var(--color-shadow);
}
.first-look .container .files .btn:hover {
  filter: brightness(1);
}
.first-look .container .files .btn:active {
  transform: scale(1.1);
}
.first-look .container .files .download {
  background: var(--color-primary);
  color: var(--color-contrast-primary);
}

.technologies-container {
  margin-bottom: 1.875rem;
}
.technologies-container .title {
  font-size: 1.25rem;
  font-weight: 300;
  margin-bottom: 0.625rem;
}
.technologies-container .technologies {
  display: flex;
  flex-flow: row wrap;
}
.technologies-container .technologies .technology {
  width: 5rem;
  margin: 0.625rem 1.25rem 0 0;
  transition: transform 0.05s ease;
}
.technologies-container .technologies .technology:hover {
  transform: scale(1.2);
}
.technologies-container .technologies .technology:hover::after {
  visibility: visible;
}
.technologies-container .technologies .technology::after {
  visibility: hidden;
  content: attr(data-name);
  display: flex;
  justify-content: center;
  font-size: 0.875rem;
  font-weight: 400;
}

@media screen and (max-width: 1030px) {
  html {
    font-size: 0.9375rem;
    row-gap: 2.5rem;
  }

  .first-look .container {
    flex-direction: column;
  }
  .first-look .container .text-container {
    width: 100%;
    margin-bottom: 1.5625rem;
    text-align: left;
  }
  .first-look .container .files {
    align-items: flex-start;
    width: 100%;
  }
  .first-look .container .files .btn {
    width: 21.875rem;
  }
}
@media screen and (max-width: 790px) {
  html {
    font-size: 14px;
  }

  .first-look .container .text-container {
    text-align: center;
  }
  .first-look .container .files {
    align-items: center;
  }

  .technologies-container {
    row-gap: 0.1875rem;
  }
  .technologies-container .container .technologies {
    justify-content: center;
  }
  .technologies-container .container .technologies .technology {
    width: 4.6875rem;
  }
}
@media screen and (max-width: 550px) {
  .technologies-container .container .technologies .technology:not(:last-child) {
    margin-bottom: 0.625rem;
  }
  .technologies-container .container .technologies .technology::after {
    font-size: 0.625rem;
  }
}
@media screen and (max-width: 500px) {
  .first-look .container .text-container .greeting {
    font-size: 3.125rem;
  }
  .first-look .container .text-container .name {
    font-size: 1.5625rem;
  }
  .first-look .container .text-container .profession {
    font-size: 1.5625rem;
  }
  .first-look .container .text-container .description {
    line-height: 1.4;
    font-size: 1.0625rem;
  }

  .technologies-container .technologies .technology::after {
    visibility: visible;
  }
}
@media screen and (max-width: 340px) {
  .first-look .container .text-container .greeting {
    font-size: 2.5rem;
  }
  .first-look .container .text-container .name {
    font-size: 1.25rem;
  }
  .first-look .container .text-container .profession {
    font-size: 1.25rem;
  }
  .first-look .container .text-container .description {
    font-size: 0.9375rem;
  }
  .first-look .container .files .btn {
    width: 75%;
  }
}

/*# sourceMappingURL=main.css.map */
